.back{
      position: absolute;
      z-index: 100;
      color: white;
      height: 50px;
    

}
.back ul{
    display: flex;
    list-style-type: none;
    width: 60vw;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-left: 20%;
}


